* {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;

}

body {
    background-color: #F3F5FC;

}

header {
    margin-left: 40px;

}

main {
    display: flex;
    
}

.botoes {

}

.encriptar {
    background-color: #0A3871;
    color: #FFFFFF;

}